{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <h1>Les liens</h1>
        <a href="{{ path('link.add') }}" class="btn btn-primary">Ajouter un lien</a>
    </div>

{% endblock %}
